.inserted_vine {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.inserted_vine iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}